<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Job Interview Page</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
      integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
      integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE="
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/interview.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/report.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>
  <body>
    <header>
      <!-- id="nav-wrapper"> -->
      <nav id="nav">
        <div class="nav left">
          <span class="gradient skew">
            <h1 class="logo un-skew">
              <a href="{{ url_for('index') }}">
                <img
                  src="{{ url_for('static', filename='images/logoupdate.png') }}"
                  alt="Logo"
                  class="logo"
                />
              </a>
            </h1>
          </span>
          <button id="menu" class="btn-nav">
            <span class="fas fa-bars"></span>
          </button>
          <div class="nav right">
            <a href="{{ url_for('index') }}" class="nav-link active"
              ><span class="nav-link-span"
                ><span class="u-nav">Home</span></span
              ></a
            >
            {% if not session['user_id'] %}
            <a href="{{ url_for('login') }}" class="nav-link"
              ><span class="nav-link-span"
                ><span class="u-nav">Login</span></span
              ></a
            >
            <a href="{{ url_for('signup') }}" class="nav-link"
              ><span class="nav-link-span"
                ><span class="u-nav">Sign-up</span></span
              ></a
            >
            {% endif %} {% if session['user_id'] %}
            <a href="{{ url_for('interview') }}" class="nav-link"
              ><span class="nav-link-span"
                ><span class="u-nav">Interview</span></span
              ></a
            >
            <a href="{{ url_for('report') }}" class="nav-link"
              ><span class="nav-link-span"
                ><span class="u-nav">Reports</span></span
              ></a
            >
            <a href="{{ url_for('logout') }}" class="nav-link"
              ><span class="nav-link-span"
                ><span class="u-nav">Logout</span></span
              ></a
            >
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="upload">
        <div>
          <a href="{{ url_for('apiVideo', id=reportid) }}">Video</a>
        </div>
        <h2>General</h2>
        <canvas id="generalChart"></canvas>
        <h2>Anomalies over time</h2>
        <canvas id="anomaliesChart"></canvas>
        <h2>Confidence</h2>
        <canvas id="confidenceChart"></canvas>
      </section>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      $(function () {
        $.getJSON(
          "{{ url_for('apiAnomalyPercent', id=reportid) }}",
          (anomalyPercenteges) => {
            const ctx = document.getElementById("anomaliesChart");

            const data = {
              labels: anomalyPercenteges.labels,
              datasets: [
                {
                  label: "Chance of anomaly (%)",
                  data: anomalyPercenteges.values,
                  fill: false,
                  borderColor: "rgb(255, 0, 0)",
                  // tension: 0.1,
                },
              ],
            };

            new Chart(ctx, {
              type: "line",
              data: data,
              options: {
                elements: {
                  point: {
                    radius: 0,
                  },
                },
                interaction: {
                  intersect: false,
                  mode: "index",
                  axis: "x",
                  mode: "nearest",
                },
              },
            });
          }
        );

        $.getJSON(
          "{{ url_for('apiConfidence', id=reportid) }}",
          (confidence) => {
            const ctx = document.getElementById("confidenceChart");

            const datasets = [];

            Object.keys(confidence).forEach((label) => {
              if (label !== "timestamp") {
                datasets.push({
                  label: label,
                  data: confidence[label],
                  fill: true,
                });
              }
            });

            const data = {
              labels: confidence.timestamp,
              datasets: datasets,
            };

            new Chart(ctx, {
              type: "line",
              data: data,
              options: {
                elements: {
                  point: {
                    radius: 0,
                  },
                },
                interaction: {
                  intersect: false,
                  mode: "index",
                  axis: "x",
                  mode: "nearest",
                },
              },
            });
          }
        );

        $.getJSON("{{ url_for('apiGeneral', id=reportid) }}", (general) => {
          const ctx = document.getElementById("generalChart");

          const data = {
            labels: general.labels,
            datasets: [
              {
                label: "Interview summation",
                data: general.data,
              },
            ],
          };

          new Chart(ctx, {
            type: "doughnut",
            data: data,
          });
        });
      });
    </script>
  </body>
</html>
