# holistic_folder/output_csv_directory/*
holistic_folder/__pycache__
.DS_STORE
.vscode
__pycache__

express-app/node_modules
express-app/package-lock.json

server-side/temp_files/videos/*
server-side/temp_files/interview_outputs/*
server-side/temp_files/report_outputs/*

attempts/*
server-side/models/*
