@font-face {
    font-family: custom-font;
    src: url('/SansationLight.woff');
  }

.section {
  width: 100%;
  padding: 30px 10%;
}

  .section h1 {
    text-align: center;
    color: rgb(50 169 167);
  }

  .section p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
  } 
  .description {
    font-family: custom-font;
    margin-top: 20px !important;
    line-height: 30px !important;
  }

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
} */

/* .logo {
    width: 250px;
    height: 100px;
} */

.tryme {
  width: 300px;
  height: 300px;
}

.intro,
.welcome
 {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    text-align-last: center;
    background-color: #000000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.video_section {
    /* margin-top: 50px; */
    font-family: Arial;
    font-size: 17px;
    width: 100%;
    padding-bottom: 50%;
    position: relative;
  }

#myVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }

  .section img {
    width: 130px;
    height: 130px;
    border-radius: 50%;

    transition:all 0.3s ease;
  }

  .section img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
 /* interview */

.image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.image-container img {
    width: 40%;
    height: auto;
}

.upload {
    /* max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    /* background-color: #575353; */
    /* box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); */
    /* display: flex;
    flex-direction: column;
    align-items: center; */ 
    
      margin-top: 75px;
      height: auto;
      background: #1A2226;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-top: 15px;
      text-align: center;
      font-size: 30px;
      letter-spacing: 2px;
      margin-top: 15px;
      font-weight: bold;
      color: #ECF0F5;
    
}

.upload h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
}

.upload form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

.upload label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.upload input[type="file"] {
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload button {
    background-color: #3a99d8;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4
}
.upload input[type="file"] {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #f5f5f5;
    background-color: #3a99d8;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 300px;
    padding-left: 58px;
    margin-top: 30px;
}

    
.upload label[for="file-upload"]::before {
    content: "Choose file";
    display: inline-block;
    background-color: #3a99d8;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
}
    
.upload label[for="file-upload"]::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
    
.upload button#close-camera {
    background-color: #f44336;
    margin-top: 0.5rem;
}
    
.upload button#close-camera:hover {
    background-color: #d32f2f;
}
    
.upload button#camera {
    /* background-color: #4caf50;
    margin-top: 2rem; */
    background: #6ec671;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
    border-radius:100px; 
}
    
.upload button#camera:hover {
    background-color: #2da633;
}

/* footer home.css */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  /* text-align-last: center; */
  line-height:24px;
  font-family: cursive;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
#textTry{
  width: 100%!important;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}




